{
    "presets": [
        "es2015"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-async-to-generator",    
        "transform-decorators-legacy",     
        "transform-object-rest-spread",   
        "transform-class-properties",     
        ["transform-runtime", {
          "helpers": false,
          "polyfill": true,
          "regenerator": true
        }]
    ]
}